[alias]
	co = checkout
	st = status
	ci = commit
	br = branch
	publish = push --set-upstream origin head
	rst = reset --hard HEAD
	latest = describe --abbrev=0
	alias = config --get-regexp alias
	list-authors = "!$HOME/Developer/dotfiles/list-authors"
	la = list-authors
[user]
	name = Nick Kaczmarek
	email = nick.kaczmarek@wwt.com
	signingkey = BAF33AA8B77833AB
[pull]
	rebase = true
[init]
	defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[rebase]
	autosquash = true
[branch]
	sort = committerdate
[commit]
	gpgsign = true
