[alias]
	co = checkout
	st = status
	ci = commit
	br = branch
	publish = push --set-upstream origin head
	rst = reset --hard HEAD
	latest = describe --abbrev=0
	alias = config --get-regexp alias
[user]
	name = Nick Kaczmarek
	email = nickkaczmarek@me.com
[pull]
	rebase = true
[init]
	defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[rebase]
	autosquash = true
